header{
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  align-items: center;
  background-color: #34a5db;
  height: 10vh;
  width: 100%;
}

header > h2{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

body{
background-color: rgb(34,34,34);
}
.content{
  width: 90vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;

}
.User-Info{
  
  margin: 0 auto;
  background-color: #ebebeb;
  width: 75%;
}


.user-id{
  font-weight: bold;
  font-size: 20px;
  display: flex; 
  justify-content: flex-end;
}
.user-name{
  width: 200px;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  margin-left: 10%;
  border-bottom: solid #34a5db;
}

.user-status{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
}

.favorite-movies{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.buttonsContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.forward-backward{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.editors{
  background-color: rgb(87, 163, 213);
  border:none;
  border-radius: 15px;
  color: white;
  padding: 8px 15px;
  font-weight: bold;
  margin: 0 px;
}
